---
import "../Styles/index.css"
import "../Styles/blogPage.css"
import SubPagesRow from "../Components/SubPagesRow.astro"
import BlogPost from "../Components/BlogPost.astro";

const posts = await Astro.glob('./posts/*.md')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cakey's home directory</title>
	</head>
    
    <body>
        <div id="content">
            <h1>/home/<strong>alecake</strong></h1>
            <div class="commandline">
				<p> &gt ls ~/subpages/</p>
			</div>
			<SubPagesRow/>
			<div class="commandline">
				<p>&gt ls ~/blogposts/</p>
			</div>
			<div id="bloglist">
				{posts.map(post => (
					<BlogPost
						title={post.frontmatter.title}
						url={post.url}
						date={post.frontmatter.date}
						description={post.frontmatter.description}
					></BlogPost>
					)
				)}
			</div>
        </div>
    </body>
</html>
